<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Qrcode</title>
</head>

<body>
    <h1 style="text-align: center; margin-top: 50px;"> QRCode Generator</h1>
    <div class="nav justify-content-center">
        <div class="card border-primary mb-3" style="width: 18rem;margin-top: 20px;">
            <div class="card-header">User information</div>
            <div class="card-body text-primary">
                <form action="/" method="post" enctype="multipart/form-data">
                    <input type="text" name="data" placeholder="Enter Text" class="form-control"><br>
                    <div class="custom-file">
                        <label class="custom-file-label" for="logo">Choose your Logo</label><br>
                        <input type="file" class="custom-file-input" id="logo" name="logo" style="width: 250px;"><br><br>
                    </div>
                    <!-- <label for="logo">Choose your Logo</label>
                    <input type="file" id="logo" style="width: 250px;"><br><br> -->
                    <label for="color1">Pick color </label>
                    <input type="color" name="color1" value="#000000"><br><br>
                    <div class="text-center"> <input type="submit" value="Qrcode" class="btn btn-primary"> </div>
                </form>
            </div>
        </div>
    </div>
    <%if(data){%>
    <div class="text-center">
        <h5>Scan your QRCode</h5>
        <img src="<%=data%>" alt="" id="qrcode" style="width:200px; height:200px;"><br><br>
        <div class="zoom-buttons">
            <button type="button" onclick="zoomin()"><i class="fa fa-search-plus"></i></button>&nbsp;&nbsp;
            <button type="button" onclick="zoomout()"><i class="fa fa-search-minus"></i></button>
        </div>
        <div id="warning-box" class="warning-box" style="display: none;">
            <p id="warning-text"></p>
        </div>
    </div>
    <%}%>
    </body>
    </html>
    <style>
        .zoom-buttons {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
    
        .zoom-buttons button {
            margin: 5px;
        }

        .warning-box {
            position: fixed;
            bottom: 80px;
            right: 20px;
            background-color: #d2d908;
            color: #d93508;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
    </style>
    <script>

        function showWarning(message) {
            var warningBox = document.getElementById("warning-box");
            var warningText = document.getElementById("warning-text");
            warningText.innerText = message;
            warningBox.style.display = "block";

            setTimeout(function() {
                warningBox.style.display = "none";
            }, 3000);
        }

        function zoomin(){
            var myImg = document.getElementById("qrcode");
            var currWidth = myImg.clientWidth;
            var currHeight=myImg.clientHeight;
            if(currWidth == 400 && currHeight==400){
                showWarning("Maximum zoom-in level reached.");
            } else{
                myImg.style.width = (currWidth + 50) + "px";
                myImg.style.height = (currHeight + 50) + "px";
            } 
        }
        function zoomout(){
            var myImg = document.getElementById("qrcode");
            var currWidth = myImg.clientWidth;
            var currHeight=myImg.clientHeight;
            if(currWidth == 200 && currHeight==200){
                showWarning("Maximum zoom-out level reached.");
            } else{
                myImg.style.width = (currWidth - 50) + "px";
                myImg.style.height=(currHeight-50)+"px";
            }
        }
    </script>